*{
font-style: normal;
}
.container1{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 20px;
}
/*second passenger*/
.add{
    display: none;
}
/*first passenger*/
.form1{
    margin-bottom: 100px;
}
/*first name of second passenger*/
.form-label2{
    margin-top: 40px;
}

