/* navbar */
.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}
.navbar{
	
	background-color: #040e25;
	color: white !important;
}
#navbar{
	position: sticky;
	top: 0;
	z-index: 99999999;
}
.nav-item a{
	color: white !important;
}
.navbar-brand{
	color: white !important;
	padding-left: 100px;
}
.logo1{
	transform: translateX(80px);
}

/* banner */
#banner-container{
	color: rgb(0, 0, 0) !important;
	background-image: url(4.jpg);
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 20px;
}
#banner-row h3, p{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: center;
}
#banner-col{
	text-align: center;
}
.myImage {
	height: 30px;
	width: 30px;
}
.myImage1 {
	margin-left: 620px;
	height: 30px;
	width: 30px;
}
.myImage2 {
	margin-left: 700px;
	height: 30px;
	width: 30px;
}

/* overview */
#overview{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 10ch;
	padding-left: 10ch;
}
#overview h1{
	padding-bottom: 70px;
}

/* vision */
#vision{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 10ch;
	padding-left: 10ch;
}
#vision h1{
	padding-bottom: 70px;
}

/* values */
#values{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 10ch;
	padding-left: 10ch;
}
#values h1{
	padding-bottom: 70px;
}

/* list */
#list{
	padding-top: 80px;
	padding-bottom: 80px;
}
#list h1{
	padding-bottom: 70px;
}

/*card*/
.card{
	background-color: #cde4f1;
	padding-top: 30px;
	width: 250px;
	padding-bottom: 30px;
	text-align: left;
}
.card-body{
	text-align: center;
}
#card-collection{
	background-color: #a0d5eb;
	padding: 1%;
	width: 800px;
	border-radius: 2%;
	justify-content: space-between;
	margin: 312px;
	margin-top: 9px;
}

/* media */
@media only screen and (max-width: 987px){
	.navbar-brand{
		padding-left: 0px;
	}
}

@media only screen and (max-width: 768px){
	#banner-row img{
		padding-top: 20px;
	}
	.social-col{
		width: 33%;
	}
}
